h3.h {
    border: 2px solid #c8f59d;
    border-radius: 8px;
    padding: 5px;
}

thead,
tbody {
    text-align: center;
}
body{
    background-image: linear-gradient(-45deg, #94b98a,#cde885,#dff6a6,#e4fcbf,#d9f4bd,#d8fce2,#b8fcf1,#a4fbf5,#84faf8);
}
.table table-hover,th,td
{
    border: 1px solid;
}
.accent {
    transition-duration: 0.4s;
    border: solid;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    float: auto;
}

.accent:hover {
    background-color: #a4fbf5;
    color: black;
}