<!-- 
    <div class="container text-center mt">
        <h1>Welcome to Login App</h1>
        <a routerLink="/login" mat-raised-button color="accent">Login Here</a>
    </div>
</div> -->
<body>
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <section  class="d-flex align-items-center">
                <div class="container position-relative" >
                    <div class="row justify-content-center">
                        <div class="col-xl-7 col-lg-9 text-center">
                            <p style="color: black; font-size: xxx-large; margin-top: -25px; margin-bottom: 39px; ">Investment Tracker.</p>
                            
                        </div>
                    </div>
                    
                    <div class="text-center">
                        <a routerLink="/login" class="btn-get-started scrollto"  style="margin-top: -51px;
                        margin-bottom: 52px;">Get Started</a>
                    </div>
                    <div class="pic">
                        <img src="/assets/images/front-end.svg" style="width:500px;height:306px;">
                    </div>
                    
                </div>
            </section>
            <!-- End Here -->
        </div>

    </div>
</div>
</body>