<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto" style="background-image: linear-gradient(-45deg, #94b98a,#cde885,#dff6a6,#e4fcbf,#d9f4bd,#d8fce2,#b8fcf1,#a4fbf5,#84faf8);">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
                        <img src="MPP/../../assets/images/dashboard.svg" class=" image">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <div class="row px-3 text-center">
                        <hr>
                        <p class="heading">PRICE OF STOCK AND SHARE</p>
                        <hr>
                        <p><button mat-raised-button color="primary" routerLink="/currentprice" class="accent">View
                                Price</button></p>

                    </div>
                    <hr>
                    <div class="row mb-3 px-3 left-btn">
                        <mat-card-content class="text-center">
                            <p class="heading">CALCULATE YOUR ASSETS</p>
                            <hr>
                            <p><button mat-raised-button color="primary" routerLink="/viewasset" class="accent">View
                                    Assets</button></p>
                        </mat-card-content>
                    </div>
                    <div class="row mb-3 px-3 right-btn">
                        <mat-card-content class="text-center">
                            <hr>
                            <p class="heading">SELL STOCK & MUTUAL FUND</p>
                            <hr>
                            <p><button mat-raised-button color="primary" routerLink="/sellasset" class="accent">Sell
                                    Assets</button></p>
                        </mat-card-content>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>